@use "../abstracts/variables" as *;

footer {
    background-color: var(--grey2);
    color: var(--green2);
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-xs);
    box-sizing: content-box;

    #header-logo {
        display: flex;
        align-items: center;
        gap: 10px;

        a,
        h1 {
            display: inline-block;
            margin: 0;
        }
    }

    nav ul {
        display: flex;
        list-style: none;
        gap: 15px;

        li {
            display: inline-block;

            a {
                display: inline-block;
                color: var(--green2);
            }
        }
    }

    #adreca-footer,
    #equip {
        font-size: var(--font-xs);
    }

    #copyright,
    a {
        text-decoration: none;
        color: var(--green2);
    }
}