@use "../abstracts/variables" as *;

footer {
    background-color: var(--green2);
    color: var(--green1);
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: content-box;

    #copyright {
        text-decoration: none;
    }
}