@use "../abstracts/variables" as *;

footer {
    background-color: var(--grey1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    nav a {
        color: white;
    }

    #copyright a {
        text-decoration: none;
        color: white;
    }
}