#header-top {
    background-color: var(--grey1);
    color: white;
    padding: var(--space-lg) var(--space-md);

    a {
        color: white;
    }
}

#header-bottom {
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: var(--space-lg) var(--space-xxxxl);

    ul {

        li {
            margin-right: var(--space-lg);

            a {
                font-size: 1.125rem;
                text-decoration: none;
                display: inline-block;
                color: black;
                border-bottom: 2px solid transparent;

                .fa-solid.fa-user.fa-lg {
                    margin-left: 50px;
                }
            }

            &.active-link {
                a {
                    color: var(--green1);
                    font-weight: bold;
                    border-bottom: 2px solid var(--green1);
                }
            }
        }
    }

}

#header-top,
#header-bottom {
    justify-content: space-between;
}