.main-header {
    display: grid;
    grid-template-rows: auto 1fr;

    .header-top {
        background-color: var(--grey1);
        color: white;
        padding: var(--space-md);

        a {
            color: white;
        }
    }

    .header-bottom {
        background-color: #fff;

    }

    .header-top,
    .header-bottom {
        justify-content: space-between;
    }

}