@use "../abstracts/variables" as *;

header {
    background-color: #ebf6d1;
    color: #658523;
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: content-box;

    #header-logo {
        display: flex;
        align-items: center;
        gap: 10px;

        a,
        h1 {
            display: inline-block;
            margin: 0;
        }
    }

    nav ul {
        display: flex;
        list-style: none;
        gap: 15px;

        li {
            display: inline-block;

            a {
                display: inline-block;
            }
        }
    }

    #carreto img {
        height: 150px;
    }
}
