#header-top {
    background-color: var(--grey1);
    color: white;
    padding: var(--space-sm) var(--space-md);

    a {
        color: white;
    }
}

#header-bottom {
    z-index: 1000;
    position: sticky;
    top: 0;
    background-color: var(--backgroud-color-body);
    padding: var(--space-sm) var(--space-xxxxl);
    box-shadow: 0px -1px 8px 0px var(--grey1);

    ul {

        li {
            margin-right: var(--space-lg);

            a {
                font-size: 1.125rem;
                text-decoration: none;
                display: inline-block;
                color: var(--color-text);
                //color: black;
                border-bottom: 2px solid transparent;
                transition: 0.2s ease all;

                .fa-solid.fa-user.fa-lg {
                    margin-left: 50px;
                }

                &:hover {
                    color: var(--green1);
                    font-weight: 700;
                }
            }



            &.active-link {
                a {
                    color: var(--green1);
                    font-weight: 800;
                    border-bottom: 2px solid var(--green1);
                }
            }
        }
    }

}

#header-top,
#header-bottom {
    justify-content: space-between;
}