@charset "UTF-8";
:root {
  --grey1: #545F66;
  --grey2: #829399;
  --green1: #B1CC74;
  --green2: #ebf6d1;
  --blue1: #D0F4EA;
  --font-titles: "Rubik", sans-serif;
  --font-general: "Montserrat", sans-serif;
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;
  --font-xxl: 2rem;
  --font-xxxl: 3rem;
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 3rem;
  --space-xxxl: 4rem;
  --space-xxxxl: 5rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
}

body {
  font-family: var(--font-general);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-titles);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
nav ul {
  list-style: none;
  gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav ul a {
  text-decoration: none;
  display: inline-block;
  color: black;
}

#product-page #banner {
  height: 60vh;
  background-position: 50%;
  background-image: url(../../public/resources/images/club-sandwich.webp);
  color: white;
  text-transform: uppercase;
  line-height: 4rem;
  padding: var(--space-xxxxl);
}

.logo img {
  width: 11rem;
}

.titol {
  background-color: var(--white);
  padding: 10px;
}
.titol h1 {
  font-size: 28px;
  font-weight: normal;
  text-wrap: wrap;
}
.titol p {
  font-size: 13px;
}
.titol .title-p-grey {
  color: var(--grey1);
  font-size: 15px;
  margin: 10px 0px;
  border: 1px solid var(--grey);
  border-width: 1px 0;
  padding: 10px 0;
}
.titol .boton {
  text-align: right;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search-bar .fa-magnifying-glass {
  margin: 0 var(--space-sm);
}
.search-bar #cercar {
  width: 30rem;
}

/* Style the tab */
.tab {
  float: left;
  background-color: var(--green2);
  width: 10%;
  margin-bottom: var(--space-xxxxl);
  margin-top: var(--space-lg);
}
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: var(--space-md);
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: var(--font-md);
}
.tab button:hover {
  background-color: rgba(178, 204, 116, 0.2470588235);
}
.tab button.active {
  background-color: var(--green1);
}

.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 90%;
  border-left: none;
  padding: 0 var(--space-xxl);
  margin: var(--space-lg) 0;
}
.tabcontent h4 {
  font-size: var(--font-xl);
}
.tabcontent p {
  font-size: 1.125rem;
}
.tabcontent p .tipus-entrepa {
  font-style: italic;
  font-weight: 600;
}
.tabcontent#calents {
  display: none;
}

.product-cards {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.product-cards .product-card {
  border: 1px solid black;
  padding: var(--space-md);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: var(--space-lg) var(--space-md) 0 0;
  width: 20%;
  height: 100%;
  /* AFEGEIX AQUEST CONTENIDOR */
  /* AFEGEIX AQUEST BADGE */
  /* AFEGEIX AQUEST BLOC */
}
.product-cards .product-card .descripcio {
  font-size: var(--font-md);
  margin-bottom: var(--space-md);
  text-align: justify;
}
.product-cards .product-card .preu-oferta-container {
  width: 100%;
  min-height: 50px; /* Alçada mínima fixa */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: var(--space-md);
}
.product-cards .product-card .preu-iva {
  color: #6d8041;
  font-weight: 800;
  width: 100%;
  text-align: right;
  margin: 0;
}
.product-cards .product-card .oferta-badge {
  min-height: 25px; /* Espai reservat sempre */
  color: #6d8041;
  font-weight: 600;
  font-size: 0.9rem;
  margin-top: 5px;
}
.product-cards .product-card .iva {
  font-size: 0.825rem;
  color: black;
  font-weight: normal;
}
.product-cards .product-card h5 {
  font-size: 1.125rem;
  margin-bottom: var(--space-md);
}
.product-cards .product-card img {
  width: 100%;
  padding: var(--space-sm);
  background-color: rgba(190, 194, 196, 0.1725490196);
  margin-bottom: var(--space-lg);
}
.product-cards .product-card .cont {
  margin-top: auto;
  width: 100%;
}

.cont {
  width: 100%;
  display: inline-block;
  margin-top: var(--space-xl);
}

.cart {
  border: none;
  background: #bec2c4;
  padding: var(--space-sm) 0;
  color: black;
  width: 100%;
  position: relative;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: 0.5s width;
  transition: 0.5s width;
  font-weight: 600;
}

.cart_clk {
  width: 65%;
}

.crtdiv {
  position: relative;
  background: #eee;
  width: 100%;
}

.fa {
  font-size: 16px;
}

.cart .fa {
  font-size: 26px;
  position: relative;
  padding: 0 5px 0 0;
}

.cart .fa:after {
  position: absolute;
  content: attr(data-before);
  color: #000;
  font-family: "Lato", sans-serif;
  left: 11px;
  font-weight: bold;
  top: 5px;
  font-size: 12px;
}

.qty {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  color: black;
}

.dec,
.inc {
  cursor: pointer;
}

.num {
  width: 22px;
  display: inline-block;
  text-align: Center;
}

footer {
  background-color: var(--grey1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}
footer nav a {
  color: white;
}
footer #copyright {
  text-decoration: none;
  color: white;
}

#header-top {
  background-color: var(--grey1);
  color: white;
  padding: var(--space-sm) var(--space-md);
}
#header-top a {
  color: white;
}

#header-bottom {
  z-index: 1000;
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: var(--space-sm) var(--space-xxxxl);
  -webkit-box-shadow: 0px -1px 8px 0px var(--grey1);
          box-shadow: 0px -1px 8px 0px var(--grey1);
}
#header-bottom ul li {
  margin-right: var(--space-lg);
}
#header-bottom ul li a {
  font-size: 1.125rem;
  text-decoration: none;
  display: inline-block;
  color: black;
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
#header-bottom ul li a .fa-solid.fa-user.fa-lg {
  margin-left: 50px;
}
#header-bottom ul li a:hover {
  color: var(--green1);
  font-weight: 700;
}
#header-bottom ul li.active-link a {
  color: var(--green1);
  font-weight: 800;
  border-bottom: 2px solid var(--green1);
}

#header-top,
#header-bottom {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#product-page h1 {
  font-size: 4.125rem;
  text-shadow: 2px 2px 2px var(--grey1);
  padding: var(--space-lg);
  text-align: right;
}
#product-page #productes {
  margin: var(--space-xxxxl);
}
#product-page #productes section {
  margin-top: var(--space-lg);
}
#product-page #productes section h3 {
  font-size: var(--font-xxl);
  margin-bottom: var(--space-md);
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
}
#product-page #productes h2 {
  font-size: 2.75rem;
}