@charset "UTF-8";
:root {
  --primary-bg-color: #e5e6e6;
  --orange: #ec8a1b;
  --grey: #E0E0E0;
  --grey1: #b2b3b4;
  --grey2: #787878;
  --grey3: #666666;
  --white: #fefefe;
  --font: centurygothic;
}

body {
  background-color: var(--primary-bg-color);
  font-family: var(--font);
  color: var(--grey3);
}
body .container {
  padding: 30px;
}
@media (max-width: 768px) {
  body #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: auto;
  }
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: centurygothic;
  src: url(../../public/resources/fonts/centurygothic.ttf);
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 2px solid var(--grey1);
  padding-top: 25px;
  margin-top: 50px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "capçalera capçalera capçalera" "banner banner titol" "info1 info2 info3" "presentation presentation formulari" "peu peu peu";
    gap: 10px;
    max-width: 1240px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 20px !important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "capçalera capçalera capçalera" "banner banner banner" "titol titol titol" "info1 info2 info3" "presentation presentation formulari" "peu peu peu";
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "capçalera" "banner" "titol" "info1" "info2" "info3" "presentation" "formulari" "peu";
    gap: 10px;
  }
}
header {
  grid-area: capçalera;
}

footer {
  grid-area: peu;
}

.banner {
  grid-area: banner;
}

.titol {
  grid-area: titol;
}

.info1 {
  grid-area: info1;
}

.info2 {
  grid-area: info2;
}

.info3 {
  grid-area: info3;
}

.presentation {
  grid-area: presentation;
}

.form {
  grid-area: formulari;
}

.header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5px 40px 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button {
  border-radius: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(232, 232, 232)), color-stop(60%, rgb(221, 221, 221)), to(rgb(213, 212, 212)));
  background: linear-gradient(180deg, rgb(232, 232, 232) 0%, rgb(221, 221, 221) 60%, rgb(213, 212, 212) 100%);
  border: 1px solid var(--grey1);
  padding: 5px 20px;
  font-size: 0.85em;
  color: var(--grey3);
  text-align: right;
  cursor: pointer;
}
button.subbtn {
  padding: 2px 20px;
}
button.burgerbtn {
  display: none;
  color: var(--grey3);
  font-size: 28px;
  padding: 2px;
  border: none;
  cursor: pointer;
  padding: 5px;
  background: none;
}
@media (max-width: 768px) {
  button.burgerbtn {
    display: block !important;
  }
}
button.closebtn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--grey3);
  font-size: 28px;
  border: none;
  cursor: pointer;
  padding: 5px;
  background: none;
}

article {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr auto;
  border-radius: 10px;
  border: 1px solid var(--white);
  -webkit-box-shadow: 0px 4px 4px -2px var(--grey1);
          box-shadow: 0px 4px 4px -2px var(--grey1);
  margin: 20px 0;
}
article .titol-card {
  grid-column: 1/-1;
  background-color: var(--grey);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px 10px 0px 0px;
  padding: 5px 0 5px 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid var(--white);
}
article .info-img {
  padding: 20px 10px 0 20px;
}
article .info-text {
  padding: 20px 20px 0 10px;
}
article .info-text span {
  border-bottom: 1px solid var(--grey3);
  font-weight: bold;
  color: var(--grey3);
}
article .info-text .info-link {
  text-align: right;
}
article .info-text .info-link a {
  color: var(--orange);
  text-decoration: none;
  text-align: right;
  margin: 20px;
  display: block;
}
article .info-text h3 {
  font-size: 15px;
}
article .info-text p {
  font-size: 14px;
  color: var(--grey1);
  margin-bottom: 30px;
}
article .info-text,
article .info-img {
  border-top: 1px solid var(--grey);
}

.form {
  margin-left: 10px;
}
.form button {
  margin-bottom: 20px;
}
.form h2 {
  color: var(--orange);
  border-bottom: 1px solid var(--grey1);
  margin-bottom: 15px;
}
.form input[type=email],
.form label {
  display: block;
  width: 80%;
  margin-bottom: 10px;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}
.navigation ul a {
  text-decoration: none;
  color: black;
}
.navigation.header-nav {
  text-transform: uppercase;
  color: var(--grey3);
}
@media (max-width: 768px) {
  .navigation.header-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 768px) {
  .navigation.header-nav li {
    margin: 5px 0;
  }
}
.navigation.header-nav li a {
  padding: 5px 20px;
  color: var(--grey3);
  padding: 5px 20px;
}
@media (max-width: 768px) {
  .navigation.header-nav li a {
    padding: 5px 20px;
    font-size: 20px;
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .navigation.header-nav li a {
    padding: 0px 10px;
    font-size: 18px;
    display: block;
  }
}
@media (max-width: 768px) {
  .navigation.header-nav li.active {
    background-color: var(--orange);
  }
}
.navigation.header-nav li.active a {
  color: var(--white);
  background: #f0c492;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(240, 196, 146)), color-stop(61%, rgb(236, 138, 27)));
  background: linear-gradient(180deg, rgb(240, 196, 146) 0%, rgb(236, 138, 27) 61%);
  border: 1px solid #675f55;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .navigation.header-nav li.active a {
    background-color: transparent;
    border: none;
    background: none;
    font-weight: 700;
  }
}
@media (max-width: 768px) {
  .navigation.header-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    overflow: hidden;
    padding-top: 70px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    overflow-y: scroll;
    background-color: var(--white);
  }
}
.navigation.footer-nav ul li a {
  color: var(--grey2);
  padding: 0px 20px;
  border-right: 1px solid var(--grey1);
}
.navigation.footer-nav ul li.active a {
  color: var(--grey3);
}
.navigation.footer-nav ul li:first-child a {
  padding-left: 0px !important;
}
.navigation.footer-nav ul li:last-child a {
  border-right: none !important;
}

.banner {
  background-image: url(../../public/resources/img/ContentSlider.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--white);
  border: 5px solid var(--white);
  height: 350px;
}

span {
  color: var(--orange);
}

.titol {
  background-color: var(--white);
  padding: 10px;
}
.titol h1 {
  font-size: 28px;
  font-weight: normal;
  text-wrap: wrap;
}
.titol p {
  font-size: 13px;
}
.titol .title-p-grey {
  color: var(--grey1);
  font-size: 15px;
  margin: 10px 0px;
  border: 1px solid var(--grey);
  border-width: 1px 0;
  padding: 10px 0;
}
.titol .boton {
  text-align: right;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.icons .icon {
  font-size: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.presentation {
  margin-right: 10px;
}
.presentation h2 {
  color: var(--orange);
  border-bottom: 1px solid var(--grey1);
}
.presentation p {
  margin: 15px 0;
}/*# sourceMappingURL=style.css.map */