//web inspo del carrousel: https://andros.dev/blog/4e9c1536/javascript-carousel-sencillo-con-controles-y-autoreproduccion/

#main-page {
    #main {

        .carousel {
            margin: 0 auto;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
        }


        h3 {
            border-bottom: 2px solid var(--green1);
            margin-bottom: var(--space-xl);
        }

        #imagen,
        #imageCover {
            width: 100%;
            height: 600px;
        }

        #imagen {
            background-size: cover;
            background-position: center;
        }

        #imageCover {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(41, 51, 40, 0.041);
        }

        #titulos {
            position: absolute;
            color: #edf1eb;
            font-family: var(--font-titles);
            font-size: 8rem;
            text-align: center;
            line-height: 8rem;
            margin: var(--space-xxl);
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
            text-transform: uppercase;

            @media (max-width: 768px) {
                font-size: 4rem;
                line-height: 3.4rem;
            }
        }

        .botonFlecha {
            background-color: transparent;
            width: auto;
            height: 100%;
            position: absolute;
            border: none;
            z-index: 99;

            &.avanzar {
                right: 0;

            }

            &.retroceder {
                left: 0;
            }

            .fa {
                font-size: 5rem;
                color: rgba(255, 255, 255, 0.774);
                cursor: pointer;


                @media (max-width: 480px) {
                    display: none;
                }
            }
        }

        #ofertes {

            @media (max-width: 480px) {
                margin: var(--space-xl);
            }

            margin: var(--space-xxxxl);


            .seccioCategoria {
                font-size: var(--font-xl);
                margin-top: var(--space-xxl);

                .productes {
                    display: flex;
                    gap: var(--space-md);

                    @media (max-width: 480px) {
                        flex-direction: column;
                    }


                    .ofertProduct {
                        border: 1px solid var(--grey1);
                        padding: var(--space-md);
                        width: calc(25% - var(--space-md));
                        flex: 0 0 calc(25% - var(--space-md));
                        margin: 0;
                        text-align: center;

                        @media (max-width: 480px) {
                            width: 100%;

                        }


                        #nomProducte {
                            font-size: var(--font-xxl);
                            border-bottom: 2px solid var(--green1);
                            padding-bottom: var(--space-xs);
                        }

                        #descripcioProducte,
                        #preuAbans,
                        #preuDescompte {
                            font-size: var(--font-lg);
                        }

                        #descripcioProducte {
                            padding: var(--space-lg) 0;
                            height: 108px;
                        }

                        #preuDescompte {
                            color: var(--green1);
                            font-weight: bold;

                            &:hover {
                                text-decoration: underline;
                                font-weight: 900;
                            }
                        }

                        #percent {
                            padding-top: var(--space-xxxl);
                            font-size: var(--font-xxl);
                            color: var(--grey1);

                            @media (max-width: 480px) {
                                font-size: var(--font-lg);
                            }


                            &:hover {
                                color: var(--green1);
                                font-weight: bold;
                            }
                        }
                    }
                }



            }
        }


    }
}