//web inspo del carrousel: https://andros.dev/blog/4e9c1536/javascript-carousel-sencillo-con-controles-y-autoreproduccion/

#main-page {
    #carousel {
        margin: var(--space-xl) 0;

        .carousel {
            max-width: 98%;
            margin: 0 auto;
            display: flex;
            position: relative;
        }

        #imagen,
        #imageCover {
            width: 100%;
            height: 600px;
        }

        #imagen {
            background-size: cover;
            background-position: center;
        }

        #imageCover {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.4);
        }

        #titulos {
            position: absolute;
            top: 0;
            right: 0;
            color: var(--green2);
            font-family: var(--font-titles);
            font-size: 9em;
            text-align: right;
            line-height: 8rem;
            margin-top: 10rem;
            margin-right: var(--space-xxxl);
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        }

        .botonFlecha {
            //background-color: white;
            //background-color: var(--blue1);
            //background-color: rgba(0, 0, 0, 0.2);
            //background-color: var(--green1);
            //background-color: RGBA(0, 255, 0, 0.5);
            background-color: #B1CC7499;
            width: auto;
            height: 100%;
            position: absolute;
            //top: calc(50% - 50px);
            border: none;
            z-index: 99;

            &.avanzar {
                right: 0;

                img {
                    width: 50px;
                    height: 50px;
                }
            }

            &.retroceder {
                left: 0;

                img {
                    width: 50px;
                    height: 50px;
                }
            }
        }

        #ofertes {
            margin: var(--space-xl);
            max-width: 98%;
            display: block;
            flex-wrap: wrap;

            h2 {
                border-bottom: 5px solid var(--green1);
            }

            .ofertProduct {
                display: inline-block;
                /* border: 2px solid var(--green1);
            border-radius: 10px;
            padding: var(--space-md);
            margin-bottom: var(--space-lg);
            text-align: center;
            background-color: var(--grey1);

            h3 {
                color: var(--green2);
                margin-bottom: var(--space-sm);
            }

            p {
                color: var(--grey2);
            } */
            }

        }


    }

}