//web inspo del carrousel: https://andros.dev/blog/4e9c1536/javascript-carousel-sencillo-con-controles-y-autoreproduccion/

#main-page {
    #carousel {
        /* justify-content: center;
        align-items: center;
        gap: var(--space-md); */
        margin: var(--space-xl) 0;

        .carousel {
            max-width: 900px;
            margin: 0 auto;
            display: flex;
            position: relative;
        }

        #imagen {
            width: 100%;
            height: 600px;
            background-size: cover;
        }

        .botonFlecha {
            //background-color: white;
            //background-color: var(--blue1);
            //background-color: rgba(0, 0, 0, 0.2);
            background-color: var(--green1);
            width: auto;
            height: 100px;
            position: absolute;
            top: calc(50% - 50px);
            border: 1px solid black;
            border-radius: 8px;

            &.avanzar {
                right: 0;

                img {
                    width: 50px;
                    height: 50px;
                }
            }

            &.retroceder {
                left: 0;

                img {
                    width: 50px;
                    height: 50px;
                }
            }
        }

    }
}