#login-page {
    .modal-content {
        margin: 80px auto;
        border: 2px solid black;
        background-color: var(--green1);
        padding: 25px 0;
        width: 70%;
    }

    #titleLog {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 30px;
        text-align: center;
    }

    .credencial {
        margin: 0 auto;
        padding-right: 20px;
        font-size: 22px;
    }

    .input {
        display: inline-block;
        width: 70%;
        margin: 0 auto;
        padding: 12px 14px;
        border-radius: 10px;
    }

    // .mostraOculta,
    .envia {
        width: 20%;
        margin: 0 auto;
        font-size: 22px;

    }

    form {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    #header-bottom {
        .active-link {
            a {
                width: 50%;
            }
        }
    }
}