#product-page {
    h1 {
        font-size: 4.125rem;
        text-shadow: 2px 2px 2px var(--grey1);
        padding: var(--space-lg);
        text-align: right;
    }

    #productes {
        margin: var(--space-xxxxl);

        section {
            margin-top: var(--space-lg);

            h3 {
                font-size: var(--font-xxl);
                margin-bottom: var(--space-md);
                border-bottom: 5px solid var(--blue1);
                display: block;
                width: fit-content;
                font-weight: 600;
            }
        }

        h2 {
            font-size: 2.75rem;


        }
    }

}