:root {
    --primary-bg-color: #e5e6e6;
    --orange: #ec8a1b;
    --grey: #E0E0E0;
    --grey1: #b2b3b4;
    --grey2: #787878;
    --grey3: #666666;
    --white: #fefefe;
    --font: centurygothic;
}