:root {
    --grey1: #545F66;
    --grey2: #829399;
    --green1: #658523;
    --green2: #ebf6d1;
    --blue1: #D0F4EA;
    --font-titles: "Rubik", sans-serif;
    --font-general: "Montserrat", sans-serif;
}