//dark theme
.darkmode {
    --grey1: #9aa5ac;
    --grey2: #67787e;
    --green1: #708a33;
    --green2: #2a3f03;
    //--blue1: #0b2d24;
    //--backgroud-color-body: #5a5f5c;
    --backgroud-color-body: #212e2b;
    --color-text: #e1e1ff;
}