#product-page {
    #banner {
        height: 60vh;
        background-position: 50%;
        background-image: url(../../public/resources/images/club-sandwich.webp);
        color: white;
        text-transform: uppercase;
        line-height: 4rem;
        padding: var(--space-xxxxl);
    }
}