button {
    // border-radius: var(--radius-lg);
    background: linear-gradient(var(--grey-gradient));
    border: 0.0625rem solid var(--grey1);
    //padding: var(--space-xs) 1.25rem;
    font-size: 0.85em;
    color: var(--grey3);
    //text-align: right;
    cursor: pointer;

    &.burgerbtn {
        display: none;
        color: var(--grey3);
        font-size: 1.75rem;
        padding: var(--space-xs);
        border: none;
        cursor: pointer;
        background: none;

        @media (max-width: 768px) {
            display: block !important;
        }
    }

    &.closebtn {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        color: var(--grey3);
        font-size: 1.75rem;
        border: none;
        cursor: pointer;
        padding: var(--space-xs);
        background: none;
    }
}