#darkLight {
    position: absolute;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    top: 25%;
    left: 50%;

    i {
        font-size: var(--font-xxl);
        margin: var(--space-xs) var(--space-xxs);
    }

    &:hover {
        background-color: var(--green1);
        border-color: var(--green1);
    }

    .to_dark_mode {
        display: block;
        height: 32px;
    }

    .to_light_mode {
        display: none;
        height: 32px;
    }
}

.darkmode {
    #darkLight .to_dark_mode {
        display: none;
    }

    #darkLight .to_light_mode {
        display: block;

    }
}

#contact-page {
    button {
        background-color: var(--green1);
        width: fit-content;
        border: none;
        padding: var(--space-xs);
        transition: ease all 0.2s;
        font-weight: 600;

        &:hover {
            background-color: var(--grey2);
            color: white;
        }
    }

}

button {
    cursor: pointer;

    &.burgerbtn {
        display: none;
        font-size: 1.75rem;
        padding: var(--space-xs);
        border: none;
        cursor: pointer;
        background: none;

        @media (max-width: 768px) {
            display: block !important;
        }
    }

    &.closebtn {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.75rem;
        border: none;
        cursor: pointer;
        padding: var(--space-xs);
        background: none;
    }
}