#darkLight {
    position: absolute;
    border-radius: 50% !important;
    height: 50px !important;
    width: 50px !important;
    padding: 0 !important;
    display: flex !important;
    cursor: pointer;
    top: 25%;
    background-color: #e9e9ed !important;
    border: 1px solid black !important;

    i {
        font-size: var(--font-xxl);
        margin: var(--space-xs) var(--space-xxs);
    }

    &:hover {
        background-color: var(--green1) !important;
        border-color: var(--green1) !important;
        color: black !important;
    }

    .to_dark_mode {
        display: block;
        height: 32px;
    }

    .to_light_mode {
        display: none;
        height: 32px;
    }
}

.darkmode {
    #darkLight .to_dark_mode {
        display: none;
    }

    #darkLight .to_light_mode {
        display: block;
    }
}

#contact-page {
    button {
        background-color: var(--green1);
        width: fit-content;
        border: none;
        padding: var(--space-xs);
        transition: ease all 0.2s;
        font-weight: 600;

        &:hover {
            background-color: var(--grey2);
            color: white;
        }
    }
}

button {
    cursor: pointer;

    &.burgerbtn {
        display: none;
        font-size: 1.75rem;
        padding: var(--space-xs);
        border: none;
        cursor: pointer;
        background: none;

        @media (max-width: 768px) {
            display: block !important;
        }
    }

    &.closebtn {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.75rem;
        border: none;
        cursor: pointer;
        padding: var(--space-xs);
        background: none;
    }
}

.envia {
    background-color: var(--green1);
    width: fit-content;
    border: none;
    padding: var(--space-xs);
    transition: ease all 0.2s;
    font-weight: 600;

    &:hover {
        background-color: var(--grey2);
        color: white;
    }
}