.tiquet-card {
    border: 1px solid #ccc;
    gap: 10px;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 30%;


    h3 {
        font-size: var(--font-lg);
    }


    .item-card {
        padding: 5px;
    }

    h5 {
        font-size: var(--font-md);
        font-style: italic;
    }

    h4 {
        font-size: var(--font-lg);
    }

    ul {
        li {
            list-style: none;
        }
    }

    span {
        font-size: var(--font-sm);
    }

    .darkmode & {
        background-color: var(--dark-bg);
        color: var(--dark-text);
    }
}

.tiquet-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ocult {
    display: none;
}

@media (max-width: 1024px) {
    .tiquet-card {
        width: 95%;
    }

    #tiquet-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}