.tiquet-card {
    border: 1px solid #ccc;
    gap: 10px;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    .item-card {
        padding: 5px;
    }

    h5 {
        font-size: var(--font-lg);
    }

    ul {
        li {
            list-style: none;
        }
    }
}

.tiquet-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.ocult {
    display: none;
}