#info-tiquet {
    display: grid;
    padding: var(--space-sm);
    * {
        margin: var(--space-xxs);
    }

    #entra-carret {
        display: inline-flex;
        flex-direction: column;
        grid-area: 1 / 2 / 2 / 3;
        max-width: 600px;

        label {
            display: flex;
            align-items: center;
            gap: var(--space-xs);
            min-width: 80px;

            input {
                border-radius: 10px;
                border: none;
                background-color: #f0f0f0;
                width: 100%;
                padding: 6px;
                transition:
                    background-color 0.3s,
                    outline 0.3s;

                &:focus {
                    background-color: white;
                    border: 1px solid black;
                    outline: none;
                    padding: 5px;
                }
            }
        }

        .button-group {
            display: flex;
            gap: var(--space-xs);
        }

        button {
            padding: var(--space-xs);
            border: none;
            border-radius: 5px;
            background-color: var(--grey2);
            color: white;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--grey3);
                color: #000000;
            }
        }
    }
}
