.form {

    margin-left: 10px;

    button {
        margin-bottom: 20px;
    }

    h2 {
        color: var(--orange);
        border-bottom: 1px solid var(--grey1);
        margin-bottom: 15px;
    }

    input[type=email],
    label {
        display: block;
        width: 80%;
        margin-bottom: 10px;
    }
}