#info-tiquet {
    display: grid;
    padding: var(--space-sm);

    * {
        margin: var(--space-xxs);
    }

    #entra-carret {
        display: inline-flex;
        flex-direction: column;
        grid-area: 1 / 2 / 2 / 3;
        max-width: 600px;

        label {
            display: flex;
            align-items: center;
            gap: var(--space-xs);
            min-width: 80px;

            input {
                border-radius: 10px;
                border: none;
                background-color: #f0f0f0;
                width: 100%;
                padding: 6px;
                transition:
                    background-color 0.3s,
                    outline 0.3s;

                &:focus {
                    background-color: white;
                    border: 1px solid black;
                    outline: none;
                    padding: 5px;
                }
            }
        }

        .button-group {
            display: flex;
            gap: var(--space-xs);
        }

        button {
            padding: var(--space-xs);
            border: none;
            border-radius: 5px;
            background-color: var(--grey2);
            color: white;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--grey3);
                color: #000000;
            }
        }
    }
}


form {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);

    label {
        font-weight: 600;
        font-size: var(--font-sm);
        color: var(--grey1);
    }

    input,
    select,
    textarea {
        padding: var(--space-sm);
        background: white;
        border: 2px solid var(--grey1);
        font-size: var(--font-md);
        transition: 0.3s border;

        &:focus {
            outline: none;
            border-color: var(--green1);
            box-shadow: 0 0 0 3px rgba(177, 204, 116, 0.3);
        }
    }

    textarea {
        resize: none;
    }
}



@media (max-width: 1024px) {
    #info-tiquet {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 30px;
    }
}