// components/_index.scss
@forward "buttons";
@forward "cards";
@forward "forms";
@forward "navigation";
@forward "banner";
@forward "logo";
@forward "span";
@forward "titol";
@forward "icons";
@forward "verticalTabs";
@forward "productCard";
@forward "addCart";