#header-top {

    nav {
        display: flex;
        flex-direction: row;

        ul {
            list-style: none;
            gap: 15px;
            display: flex;
            align-items: center;

            a {
                text-decoration: none;
            }
        }
    }
}

#header-bottom {
    nav {
        display: flex;
        flex-direction: row;

        ul {
            list-style: none;
            gap: 15px;
            display: flex;
            align-items: center;

            a {
                text-decoration: none;
                display: inline-block;
                color: black;
            }
        }

        @media (max-width: 768px) {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1000;
            top: 0;
            right: 0;
            overflow: hidden;
            padding-top: 4.375rem;
            transition: 0.5s;
            overflow-y: scroll;
            background-color: var(--white);
        }

    }
}

#main-footer {
    nav {
        display: flex;
        flex-direction: column;
    }
}