nav {
    display: flex;
    flex-direction: row;

    ul {
        list-style: none;
        gap: 15px;
        display: flex;
        align-items: center;
    }

    a {
        text-decoration: none;
        display: inline-block;
        color: black;
    }
}
