nav {
    display: flex;
    flex-direction: row;

    ul {
        list-style: none;
    }

    li {
        display: inline-block;
    }

    a {
        text-decoration: none;
        color: black;
    }
}
