nav {
    display: flex;
    flex-direction: row;

    ul {
        list-style: none;
        gap: 15px;
        display: flex;
        align-items: center;

        li {
            a {
                text-decoration: none;
                display: inline-block;
                color: black;
            }

            &.active-link {
                a {
                    color: var(--green1);
                    font-weight: bold;
                }
            }
        }
    }

}