.navigation {
    ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        padding: 0;

        a {
            text-decoration: none;
            color: black;
        }



    }

    &.header-nav {
        text-transform: uppercase;
        color: var(--grey3);

        ul {
            @media (max-width: 768px) {
                flex-direction: column;
            }

        }

        li {

            @media (max-width: 768px) {
                margin: 5px 0;
            }

            a {
                padding: 5px 20px;
                color: var(--grey3);

                @media (max-width: 768px) {
                    padding: 5px 20px;
                    font-size: 20px;
                    display: block;
                }

                padding: 5px 20px;

                @media (min-width: 768px) and (max-width: 1024px) {
                    padding: 0px 10px;
                    font-size: 18px;
                    display: block;

                }
            }

            &.active {

                @media (max-width: 768px) {
                    background-color: var(--orange);

                }


                a {
                    color: var(--white);
                    background: #f0c492;
                    background: linear-gradient(180deg, rgba(240, 196, 146, 1) 0%, rgba(236, 138, 27, 1) 61%);
                    border: 1px solid #675f55;
                    border-radius: 5px;

                    @media (max-width: 768px) {
                        background-color: transparent;
                        border: none;
                        background: none;
                        font-weight: 700;
                    }
                }
            }
        }

        @media (max-width: 768px) {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1000;
            top: 0;
            right: 0;
            overflow: hidden;
            padding-top: 70px;
            transition: 0.5s;
            overflow-y: scroll;
            background-color: var(--white);
        }
    }


    &.footer-nav {
        ul {
            li {
                a {
                    color: var(--grey2);
                    padding: 0px 20px;
                    border-right: 1px solid var(--grey1);
                }

                &.active {
                    a {
                        color: var(--grey3);
                    }

                }

                &:first-child {
                    a {
                        padding-left: 0px !important;
                    }
                }

                &:last-child {
                    a {
                        border-right: none !important;
                    }

                }
            }
        }
    }
}