/* Style the tab */
.tab {
    float: left;
    background-color: var(--green2);
    width: 10%;
    margin-bottom: var(--space-xxxxl);
    margin-top: var(--space-lg);


    @media (max-width: 768px) {
        display: none;
    }


    button {
        display: block;
        background-color: inherit;
        color: black;
        padding: var(--space-md);
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-size: var(--font-md);


        &:hover {
            background-color: #b2cc743f;
        }

        &.active {
            background-color: var(--green1);
        }
    }

}

.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 90%;
    border-left: none;
    padding: 0 0 0 var(--space-xxl);
    margin: var(--space-lg) 0 var(--space-xxxxl) 0;

    h4 {
        font-size: var(--font-xl);
    }

    p {
        .tipus-entrepa {
            font-style: italic;
            font-weight: 600;
        }

        font-size: 1.125rem;
        margin-bottom: var(--space-md);

    }



    &#calents {
        display: none;
    }

    @media (max-width: 768px) {
        width: 100%;
        padding: 0;
        margin: 0 0 var(--space-md) 0;
        float: none;

        h4 {
            background-color: var(--green2);
            padding: var(--space-md);
            margin: 0;
            cursor: pointer;
            transition: 0.3s;
            position: relative;
            border-radius: 5px;

            &:hover {
                background-color: var(--green1);
            }

        }

        p,
        .product-cards {
            display: none;
            padding: var(--space-md);
        }

        &.active-mobile {
            display: block !important;

            p,
            .product-cards {
                display: block;
            }

            h4::after {
                transform: rotate(180deg);
            }
        }

        &#calents {
            display: block;
        }
    }
}